<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h3 *ngIf="isAddingMode">Add user</h3>
  <h3 *ngIf="isUpdatingMode">Update user</h3>
  
  <div>
    <label for="name">Name: </label>
    <input id="name" type="text" formControlName="name">
    <span class="error" *ngIf="form.controls['name'].hasError('required')">*</span>
  </div>
  <div>
    <label for="job">Job: </label>
    <input id="job" type="text" formControlName="job">
    <span class="error" *ngIf="form.controls['job'].hasError('required')">*</span>
  </div>
  <button *ngIf="isAddingMode" type="submit" [disabled]="form.invalid">Add</button>
  <button *ngIf="isUpdatingMode" type="submit" [disabled]="form.invalid">Update</button>
  <button *ngIf="isUpdatingMode" type="button" (click)="showAddingUser()">Cancel</button>
</form>

<table>
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Job</th>
    <th></th>
  </tr>
  <tr  *ngFor="let user of users">
    <td>{{user.id}}</td>
    <td>{{user.email}}</td>
    <td>{{user.first_name}}</td>
    <td>{{user.last_name}}</td>
    <td [userCustomStyle]="user.job">{{user.job}}</td>
    <td>
      <button (click)="showUpdatingUser(user)">Update</button>
      <button (click)="deleteUser(user)">Delete</button>
    </td>
  </tr>
</table>

<div *ngIf="loadingIndicator.isLoading" class="loader">Loading...</div>